@import "../../global.scss";

.nav {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  padding: 10px 0px;
  width: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
